<style>

.product.media .icon > span > span {
	line-height: 47px;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	text-align: center;
}

</style>
<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */

$_product = $block->getProduct();
$data = $this->helper('Ves\Themesettings\Helper\Data');
$ves = $this->helper('Ves\Themesettings\Helper\Theme');
$show_newlabel = $ves->getProductPageCfg('element_settings/show_newlabel');
$show_salelabel = $ves->getProductPageCfg('element_settings/show_salelabel');
$thumb_layout = $ves->getProductPageCfg('element_settings/thumb_layout');
$thumb_location = $ves->getProductPageCfg('element_settings/thumb_location');
$enable_zoom = $ves->getProductPageCfg('element_settings/show_zoom');
$enable_zoom = (int)$enable_zoom;
$zoom_magnify = $ves->getProductPageCfg('element_settings/zoom_magnify');
$zoom_magnify = $zoom_magnify?(int)$zoom_magnify:1;
?>
<?php // Sale Icon, New Icon Block ?>
<?php if($show_newlabel || $show_salelabel){ ?>
<div class="icon">
    <?php
    if($show_salelabel) {
        if($_product->getTypeId()!="simple"){
            $oldPrice = $_product->getPriceInfo()->getPrice('regular_price')->getAmount()->getValue();
            $specialprice = $_product->getFinalPrice();
            $specialPriceFromDate = null;
            $specialPriceToDate = null;
            if($oldPrice <= $specialprice) {
                $specialprice = 0;
            }
        } else {
            $specialprice = $_product->getSpecialPrice();
            $specialPriceFromDate = $_product->getSpecialFromDate();
            $specialPriceToDate = $_product->getSpecialToDate();
        }
        $today =  time();
        if ($specialprice) {
            if(($today >= strtotime( $specialPriceFromDate) && $today <= strtotime($specialPriceToDate)) || ($today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)) || (is_null($specialPriceFromDate) && $today <= strtotime($specialPriceToDate)) || (is_null($specialPriceFromDate) && is_null($specialPriceToDate))) {
                ?>
                <span class="onsale"><span style="background: #890203;"><?php echo __("Sale");?></span></span>
                <?php
            }
        }
    }
    if($show_newlabel) {
        $is_new = $data->checkProductIsNew( $_product );
        if($is_new) { ?>
        <span class="new-icon"><span style="background: #619b04;"><?php echo __("New");?></span></span>
        <?php
    }
}
?>
</div>
<?php } ?>
<div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
    <div data-role="loader" class="loading-mask">
        <div class="loader">
            <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
            alt="<?php /* @escapeNotVerified */ echo __('Loading...') ?>">
        </div>
    </div>
</div> 
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": <?php /* @escapeNotVerified */ echo $block->getMagnifier(); ?>,
                "data": <?php /* @escapeNotVerified */ echo $block->getGalleryImagesJson(); ?>,
                "options": {
                    "nav": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/nav"); ?>",
                    "navposition": "<?php /* @escapeNotVerified */ echo $thumb_location; ?>",
                    "loop": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/loop"); ?>,
                    "keyboard": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/keyboard"); ?>,
                    "arrows": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/arrows"); ?>,
                    "allowfullscreen": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/allowfullscreen"); ?>,
                    "showCaption": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/caption"); ?>,
                    "width": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
                    "thumbwidth": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'width'); ?>,
                    "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
                    ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
                    "height": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height')
                    ?: $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
                    "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/duration"); ?>,
                    "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/effect"); ?>",
                    "navarrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/navarrows"); ?>,
                    "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navtype"); ?>",
                    "navdir": "<?php /* @escapeNotVerified */  echo $thumb_layout; ?>"
                },
                "fullscreen": {
                    "nav": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/nav"); ?>",
                    "loop": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/loop"); ?>,
                    "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navdir"); ?>",
                    "arrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/arrows"); ?>,
                    "showCaption": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/caption"); ?>,
                    "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/duration"); ?>,
                    "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/effect"); ?>"
                },
                "breakpoints": <?php /* @escapeNotVerified */ echo $block->getBreakpoints(); ?>
            }
        }
    }
</script>
<?php if($enable_zoom): ?>
<script type="text/javascript">
require([
    'jquery',
    'Magento_Catalog/js/jquery.zoom.min'
], function ($) {
    var loaded = false;
    $('.product.media .gallery-placeholder').bind("DOMSubtreeModified",function(){
        $('.product.media .fotorama').on('fotorama:ready', function (e, fotorama, extra) {
            //console.log('fotorama is loaded');
            loaded = false;
            $('.product.media .fotorama').on('fotorama:load', function (e, fotorama, extra) {
                if(!loaded){
                    $('.product.media .fotorama__stage .fotorama__loaded--img').trigger('zoom.destroy');
                    $('.product.media .fotorama__stage .fotorama__active').zoom({
                        touch:false,
                        magnify:<?php echo $zoom_magnify; ?>
                    });
                    loaded = true;
                }
            });
            $('.product.media .fotorama').off('fotorama:showend').on('fotorama:showend', function (e, fotorama, extra) {
                $('.product.media .fotorama__stage .fotorama__loaded--img').trigger('zoom.destroy');
                $('.product.media .fotorama__stage .fotorama__active').zoom({
                    touch:false,
                    magnify:<?php echo $zoom_magnify; ?>
                });
            });
            $('.fotorama').off('fotorama:fullscreenenter').on('fotorama:fullscreenenter', function (e, fotorama, extra) {
                $('.product.media .fotorama__stage .fotorama__loaded--img').trigger('zoom.destroy');
                $('img.zoomImg').remove();
            });
            $('.fotorama').off('fotorama:fullscreenexit').on('fotorama:fullscreenexit', function (e, fotorama, extra) {
                $('.product.media .fotorama__stage .fotorama__loaded--img').trigger('zoom.destroy');
                $('img.zoomImg').remove();
                $('img.fotorama__img').not('.fotorama__img--full').each(function(){
                    $(this).after($(this).parent().children("img.fotorama__img--full"));
                });
                $('.product.media .fotorama__stage .fotorama__active').zoom({
                    touch:false,
                    magnify:<?php echo $zoom_magnify; ?>
                });
                $('.product.media .fotorama').off('fotorama:showend').on('fotorama:showend', function (e, fotorama, extra) {
                    $('.product.media .fotorama__stage .fotorama__loaded--img').trigger('zoom.destroy');
                    $('.product.media .fotorama__stage .fotorama__active').zoom({
                        touch:false,
                        magnify:<?php echo $zoom_magnify; ?>
                    });
                });
            });
        });
    });
});
</script>
<?php endif; ?>
