/**
 * @category   Webkul
 * @package    Webkul_SocialSignup
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */ 

.wk_socialsignup_container .wk_social_choice h3{
    margin-left: 7px;
}
.wk_socialsignup_container{
    display: inline-block;
    width: 100%;
}
#socialsignupcont{
    position:fixed;
    top:175px;
    right:0px;
    z-index:999999;
}
.wksocialsignup {
    margin-left: 5px;
    margin-top: -4px;
    cursor: pointer;
    float: left;
}
.welcome-msg img {
    margin-left: 5px;
}
.wksocialopener{
    background:#3399cc;
    display:inline-block;
    max-height: 30px;
    padding: 4px;
    width: 50px;
    color:#FFFFFF;
    text-decoration:none;
}
.wksocialclose{
    background:#3399cc;
    display:inline-block;
    max-height: 30px;
    padding: 4px;
    width: 50px;
    opacity:.7;
    color:#FFFFFF;
    text-decoration:none;
}
.wksocialclose:focus,.wksocialopener:focus{
    outline:none;
    color:#FFF;
}
.wksocialclose:hover,.wksocialopener:hover{
    outline:none;
    color:#FFF;
    text-decoration: none;
}