// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Theme widgets fallback
//  _____________________________________________

//  Magento themes widgets fallback file. Should be EMPTY.
// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Theme widgets fallback
//  _____________________________________________

//  Magento themes widgets fallback file. Should be EMPTY.
// *****************************************************
//  * @package Venus Theme Framework for Magento 2.0.x
//  * @version 1.0
//  * @author http://www.venustheme.com
//  * @copyright Copyright (C) Augus 2015 VenusThemes.com <@email:venusthemes@gmail.com>.All rights reserved.
//  * @license   GNU General Public License version 1
// ******************************************************
.block{
	background: @white;
	.box-shadow(0 2px 12px rgba(0, 0, 0, 0.1));
	border-radius: 4px;
	overflow: hidden;
	padding: 30px;
	position: relative;
	margin-bottom: 30px;
	.block{
		background: none; 
		box-shadow: none; 
		border-radius: 0; 
		overflow: visible; 
		padding: 0; 
		margin-bottom: 0;
		position: static;
	}
	.block-title {
		.rtl-text-align-left();
		margin-top: -4px;
		margin-bottom: 15px;
		padding-bottom: 20px;
		border-bottom: 1px solid @border-color__base;
		position: relative;
		.rtl-padding-left(20px);
		&::before{
			content: "";
			background: url("../images/title-bg.png") no-repeat;
			.size(13px, 13px);
			position: absolute;
			.rtl-left(0);
			top: 10px;
		}
		*{
			font-size: 23px;
			font-family: @font-headding-family;
			font-weight: 500;
			color: @black;
			letter-spacing: -1px;
			line-height: 35px;
			margin: 0;
		}
		.action.view *{font-size: 15px;}
	} 
	.block-content{
		padding: 15px 0;
	} 
	&.box{
		.block{
			margin-bottom: 0!important;
			.block-content{padding: 0;}
		}
	}
	&.box-nopadding{
		padding: 0;
		.productlist-widget{padding: 30px!important;}
	}
	&.box-categories{
		.widget-images{
			position: relative;
			&::after{
				content: "";
				background: @border-color__base;
				.size(100%, 1px);
				bottom: -30px;
				left: 0;
				position: absolute;
			}
			.img-animation{
				.rtl-margin-right(20px);
				img{width: auto;}
			}
			.image-description{
				font-size: @font-size-base - 1;
				line-height: 18px;
				ul li{margin-bottom: 3px;}
				.view a{
					color: @theme-color-default;
					font-size: @font-size-base - 2;
					font-weight: 500;
					letter-spacing: 2px;
				}
				h4{
					font-weight: 500;
					margin-top: 0;
					color: @theme-color-primary;
					a{color: @theme-color-primary;}
				}
			}
		}
	}
	.categories-row{
		> .row{
			margin-left: -30px;
			margin-right: -30px;
			> .row-inner > div{
				.rtl-border-right(@border-color__base);
				padding-left: 30px;
				padding-right: 30px;
				&:last-child{border: 0;}
			}
		}
		&.first{margin-top: 15px;}
	}
	&.box-products{
		.block-warning.products-v1{
			.product-block .product-item-info{
				.product-image{width: 60%;}
				.product-item-name, .product-item-details{width: 40%;}
			}
		}
		.productlist-widget .tab-content{margin-top: 0;}
		.widget-html .block-title{margin-bottom: 30px;}
	}
	&.box-products-v2{
		.block-warning.products-v1{
			padding-left: 0!important;
			padding-right: 0!important;
			border-bottom: 1px solid @border-color__base;
			padding-bottom: 25px;
		}
	}
	&-inline{
		.inline-block();
		width: 100%;
	}
	&-success{
		.block.newsletter{
			margin: 0!important;
			.block-title {margin-bottom: 10px;}
			.field .control{margin-top: 20px; margin-bottom: 16px;}
		}
		.tags-link{
			.block-title{
				padding: 0;
				border: 0;
				margin: 0;
				*{font-size: 18px;}
				&::before{display: none;}
			}
		}
		.block-static-block{margin: 0!important;}
	}
	&-primary{
		&.productlist-widget{
			.etabs{display: none;}
		}
		.widget-images{
			position: relative;
			&::after{
				content: "";
				background: @border-color__base;
				.size(100%, 1px);
				bottom: -30px;
				left: 0;
				position: absolute;
			}
			.image-description{
				.rtl-float-left(); 
				width: 100%;
				color: #999;
				h3{
					font-size: 20px;
					font-weight: 500;
					color: @black;
					a{
						color: @black;
						&:hover{color: @theme-color-default;}
					}
				}
			}
		}
	}
	&-info{
		background: none; box-shadow: none; border-radius: 0; overflow: visible; padding: 0; margin-bottom: 0;
	}
	&-warning{
		.product-block{
			.product-item-info{
			    .rtl-float-left();
			    .rtl-text-align-left();
			    width: 100%;
			    background: transparent;
			    margin-top: 0;
			    margin-bottom: 20px;
			    padding-bottom: 20px;
			    border-bottom: 1px solid @border-color__base;
			    &:last-child{border: 0; padding-bottom: 0!important; margin-bottom: 0!important;}
			    .product-item-name{margin: 0; .rtl-padding-left(90px);}
				.product-image{ 
					width: 90px;
					position: absolute;
					top: 0;
					margin-bottom: 0;
					.rtl-left(0);
					.rtl-padding-right(20px);
					.product-item-photo{margin-bottom: 0;}
				}
				.product-item-details{
					.rtl-padding-left(90px);
					margin: 0;
					.product-reviews-summary{
						.rtl-float-right();
						margin: 2px 0 0;
					}
					.price-box{
						.price{font-size: 18px;}
						.old-price .price{line-height: 26px; font-size: 14px;}
					}
				}
			}
			.actions-primary{width: 100%;}
		}
		&.block-deals{
			.owl-carousel .owl-nav{
				min-width: 200px;
				span{font-size: @font-size-base - 1; font-weight: 400; padding: 0 10px;}
			}
			.product-block{
				.product-item-info{
					.product-image{width: 50%;}
					.product-item-details{
						width: 50%; 
						padding: 0!important;
						.rtl-float-left();
					}
				}
			}
		}
		&.products-v1{
			.product-block{
				.product-item-info{
					margin-bottom: 30px;
			    	padding-bottom: 30px;
					.product-item-name{
						padding: 0!important;
						.inline-block();
						width: 50%;
					}
					.product-image{
						width: 50%; 
						.rtl-float-left(); 
						.inline-block();
						position: relative;
					}
					.price-box{margin: 10px 0;}
					.product-item-details{
						width: 50%; 
						padding: 0!important;
						.rtl-float-left();
					}
				}
			}
		}
	}
	&.widget-carousel {
		.block-content {
			padding:0;
		}
	}

	&.ourservice-v1{
		font-size: @font-size-base - 1;
		color: #999;
		.block-content{padding: 0;}
		ul{
			margin: 0;
			li{
				position: relative;
				margin: 0;
				min-height: 100px;
				&::before{
					content: "";
					background: @border-color__base;
					width: 2px;
					height: 35px;
					position: absolute;
					.rtl-left(10px);
					bottom: 20px;
				}
				&:last-child{
					min-height: auto;
					&::before{display: none;}
				}
			}
		}
		.pull-left{
			color: @theme-color-default;
			border: 2px solid @theme-color-default;
		    border-radius: 50%;
		    .size(25px, 25px);
		    line-height: 24px;
		    .rtl-margin-right(15px);
		    text-align: center;
		    font-size: @font-size-base + 1;
		    font-weight: 500;
		    margin-bottom: 18px;
		}
		h4{
			margin-top: 0;
			margin-bottom: 6px;
			color: @black;
			font-size: @font-size-base + 3;
			font-weight: 500;
		}
	}
	&.ourservice-v2{
		.pull-left{
			.size(44px, 44px);
			line-height: 43px;
			a{
				.inline-block();
				color: @theme-color-default; 
				font-size: @font-size-base + 5;
				.transition(all 0.4s ease 0s);
			}
		}
		.ourservice-content{
			line-height: 14px; padding-top: 3px;
			&::before{display: none;}
		}
		&:hover{
			.pull-left a{
				.transition(all 0.4s ease 0s);
                .rotate(360deg);
            }
        }
	}
}
.wrap-content{
	background: @white;
	.box-shadow(0 2px 12px rgba(0, 0, 0, 0.1));
	border-radius: 4px;
	overflow: hidden;
	padding: 30px;
	position: relative;
	margin-bottom: 30px;
	.block{
		background: none; 
		box-shadow: none; 
		border-radius: 0; 
		overflow: visible; 
		padding: 0; 
		margin-bottom: 0;
		position: static;
	}
}

.popular-categories{
	.vesbuilder-block > .block-content{padding: 0;}
}
.page-wrapper .block-search{
	margin: 0;
	width: 200px;
	padding: 0!important;
	.block-content{padding: 0;}
	.action.search{
		top: 0;
		.rtl-right(0);
		width: 36px;
		.opacity(1);
		&::before{
			line-height: 35px;
			color: @black;
			font-size: @font-size-base + 1;
			font-weight: 500;
		}
	}
	input{
		padding: 0 20px!important;
		position: static!important;
		text-transform: uppercase;
		font-size: @font-size-base - 2;
	}
	input::-moz-placeholder{color: #666!important;}
	.control {
	    border-top: 0!important;
	    margin: 0!important;
	    padding: 0!important;
	}
	label span{display: none;}
	.label.active + .control input{position: static!important;}
}

 /*Autosearch*/
.ves-autosearch {
    min-height: 52px;
    position: relative;
    .ui-helper-hidden-accessible{display: none;}
    .search_box {
        border: none;       
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        .message{display: none;}
        .button-search {
            color: @white;
            background-color: @theme-color-default;
            border:0;
            font-size: @font-size-base + 1;
            position: relative;
            top: -52px;
            width: 60px;
            height: 52px;
            line-height: 52px;
            text-align: center;
            .rtl-float-right();
            .rtl-left(0);
            border-radius: 0 30px 30px 0;
            z-index: 3;
            cursor: pointer;
            &:hover{background-color: #444;}
        }
        .input-text{
        	background: @white;
            border-radius: 0;
            border: 2px solid @theme-color-default;
            height: 52px;
            border-radius: 30px;
            .rtl-padding-right(45%);
            padding-left: 30px;
        }
        .search {
            width: 100%;
            height: 40px;
            .form-control {
                height: 36px;
            }
            input::-moz-placeholder{color: #555!important;}
            input::-webkit-input-placeholder{color: #555!important;}
        }
        .category_filter {
            position: absolute;
            width: 200px;
            height: 52px;
            .rtl-right(60px);
            &::before{
               	content: "";
               	background: #dbdbdb;
               	.size(1px, 25px);
               	.rtl-left(0);
               	top: 12px;
               	position: absolute;
            }
            &:active, &:focus{
                .fa{color: #363636;}
            }
            select {
                height: 48px;
                margin-top: 2px;
                border: 0;
                .rtl-padding-left(20px);
                font-size: @font-size-base + 1;
                color: #444;
                border-radius: 0;
                appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                -webkit-appearance: none;
                &:focus{box-shadow: none;}
            }
            option{min-width: 130px; padding: 3px 6px;}
            span {
                color: #444;
                position: absolute;
                .rtl-right(25px);
                top: 0px;
                line-height: 52px;
                font-size: @font-size-base + 2;
            }
        }
    }
}

ul.ui-autocomplete {
	background: @white;
    z-index: 9999!important;
    cursor: default;
    position: absolute;
    top: 52px!important;
    border: 1px solid @border-color__base;
    border-radius:0;
    .rtl-left(0);
    .active{
        border: solid 1px #CCCCCC;
    } 
    li {
        display: block;
        clear: both;
        border-bottom: 1px solid #e9e9e9;
        overflow: hidden;
        padding: 10px;
        img {
            cursor: pointer;
            width: 100px;
        }
        .autosearch.product{
        	.image, .info, .description{.rtl-float-left();}
        	.image{.rtl-padding-right(10px);}
        	.description{margin-top: 10px;}
        }
        .name {
            font-weight: 600;
            margin-bottom: 10px;
            &:hover {
              color: @theme-color-default;
            } 
        }
        &:last-child{border-bottom: 0;}
    }
}

.minicart-wrapper{
	margin: 0!important;
	.block-minicart{
		background: @white!important;
		border: 1px solid @border-color__base;
		z-index: 800;
		.block-content > .actions > .primary .action.primary{font-size: @font-size-base + 2; padding: 10px 20px;}
		.minicart-items .product-item-details .price{color: @theme-color-default;}
		.amount .price-wrapper:first-child .price{color: @theme-color-primary; font-weight: 600;}
	}
	.minicart-items-wrapper{max-height: 410px; border-color: @border-color__base;}
	.minicart-items{
		.product > .toggle::after{
			content: "\f107";
			font-family: @font-icon-family;
		}
		.product .active > .toggle::after{content: "\f106";}
		.product.options.list{
			.values span{font-weight: bold;}
		}
	}
	.action.showcart{
		line-height: normal;
		&:hover::before, &.active::before{color: @theme-color-default!important;}
		.cart-title{
			font-weight: 500;
			font-size: @font-size-base;
			line-height: 28px;
			.rtl-border-left(@border-color__base);
			.rtl-margin-left(6px);
			.rtl-padding-left(12px);
		}
		.counter-number{
			color: @black;
			font-family: @font-headding-family;
			font-weight: 600;
		}
	}
	#minicart-content-wrapper{line-height: normal;}
	.w-item{
		.total-qty{
			background: @theme-color-default;
		    padding: 0 5px;
		    min-width: 24px;
		    font-size: @font-size-base - 3;
		    position: absolute;
		    .rtl-left(12px);
		    bottom: 0;
		    line-height: 14px;
		    border-radius: 8px;
		    text-align: center;
		    .counter-number{color: @white;}
		}
	}
	.actions a{
		color: #666;
		&:hover{color: @theme-color-default;}
	}
	.loader img{max-width: 20px;}
}

.minicart-items{
	.product-item-name a{color: #666;}
}

.page-wrapper .widget-carousel{
	margin: 0;
	position: relative;
	padding: 0;
	.item-title{display: none;}
	.customNavigation{display: none;}
	.owl-stage-outer, p{margin: 0;}
	.owl-controls{margin: 0;}
	.owl-nav{
		margin: 0;
		left: 0!important;
	    right: 0!important;
	    top: 45%;
	    width: 100% !important;
	    .owl-prev, .owl-next{
	    	background: rgba(0, 0, 0, 0.5)!important;
	    	color: @white!important;
	    	text-indent: -99999px;
	    	line-height: 50px!important;
	    	width: 30px!important;
	    	.opacity(0);
	    	visibility: hidden;
	    	.transition(all 0.4s ease 0s);
	    	&::before{
	    		position: absolute;
	    		left: 0;
	    		right: 0;
	    		margin: auto;
	    		font-family: @font-icon-family;
	    		font-size: 22px; 
	    		text-indent: 0;
	    	}
	    }
	    .owl-prev{
	    	left: 15px;
	    	&::before{
		    	content: "\f104";
		    }
	    }
	    .owl-next{
	    	right: 15px;
	    	&::before{
		    	content: "\f105";
		    }
	    }
	}
	&:hover{
		.customNavigation, .owl-nav{
		    .owl-prev, .owl-next{
		    	.opacity(1);
		    	visibility: visible;
		    	.transition(all 0.4s ease 0s);
		    }
		}
	}
	.slider-content{
	    position: absolute;
	    font-size: @font-size-base + 3;
	    &.a-center{
	    	left: 0;
	    	right: 0;
	    	margin: auto;
	    }
	    h3{
	    	color: @black;
	    	font-size: 50px;
	    	margin-top: 0;
	    	margin-bottom: 3px;
	    	letter-spacing: -2px;
	    }
	    .starting{margin: 20px 0 30px;}
	    .btn{
	    	background: #f7f7f7;
	    	border-radius: 20px;
	    	color: @black;
	    	padding: 10px 40px;
	    	font-size: @font-size-base;
	    	letter-spacing: 2px;
	    	font-weight: 500;
	    	&:hover{
	    		background: @theme-color-default;
	    		border-color: @theme-color-default;
	    		color: @white;
	    	}
	    }
	}
}

.blog-posts{
	color: #777;
	line-height: 24px;
	font-size: @font-size-base + 1;
	.block-content{overflow: hidden; padding-bottom: 0;}
	.owl-carousel{
		margin-left: -30px!important;
		margin-right: -30px!important;
		margin-bottom: 0;
		position: static;
		.owl-stage-outer{margin-bottom: 0;}
		.owl-item{
			padding-left: 30px!important;
			padding-right: 30px!important;
			.rtl-border-right(@border-color__base);
		}
		.post-meta{
			.rtl-float-left();
			width: 100%;
			padding-bottom: 8px;
		}
		.post-social{display: none;}
		.post-title{
		    .rtl-float-left();
		    min-height: 78px;
		    width: 100%;
		    margin-bottom: 20px;
		    border-bottom: 1px solid @border-color__base;
			h3{
				line-height: 20px;
				font-weight: 500;
				margin: 15px 0;
			}
			a{
				font-size: @font-size-base + 3;
				color: @black;
			}
		}
		.post-summary{
			margin-top: 15px;
			padding-top: 15px;
			.rtl-float-left();
			width: 100%;
			border-top: 1px solid @border-color__base;
			a{
				.rtl-float-left(); 
				display: block; 
				margin-top: 20px; 
				color: @theme-color-default;
				width: 100%;
				font-size: @font-size-base - 2;
				font-weight: 700;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
		.post-date{
			color: @theme-color-default;
			.rtl-float-left();
			line-height: 15px;
			text-transform: uppercase;
			font-size: @font-size-base + 1;
			font-weight: 500;
		}
		.post-comment{
			.rtl-float-right();
			line-height: 15px;
			color: #999;
			font-size: @font-size-base - 1;
		}
		.post-categories{
			.rtl-float-left();
			width: 100%;
			margin-bottom: 8px;
			a{
				background: @theme-color-default;
				.rtl-float-left();
				padding: 0 10px;
				color: @white;
				font-size: 10px;
				line-height: 20px;
				text-transform: uppercase;
			}
		}
	}
	.post-block{
		.rtl-float-left(); 
		width: 100%;
	}
}

/* Blog Latest View */
.ves-bloglatest{
	.post-title{
		> h3{
			font-size: 28px; 
			font-weight: 500;
			line-height: 36px;
			border-bottom: 1px solid @border-color__base;
			padding-bottom: 20px;
			min-height: 94px;
			margin-bottom: 15px;
		}
		a{color: @black;}
	}
	.post-social{
		margin: 10px 0;
		ul li{vertical-align: top; margin: 0;}
	}
	.pages .action.next::before{margin: 0 6px;}
	.post-date{color: @theme-color-default; font-weight: 500; text-transform: uppercase;}
}
.vesblog-latest-view, .vesblog-category-view, .vesblog-search-result, .vesblog-author-view, .vesblog-tag-view, .blog-posts{
	.post-author{
		.rtl-float-right();
		line-height: 15px;
		font-size: @font-size-base - 1;
		color: #999;
		a{color: @black;}
	}
}
.vesblog-latest-view, .vesblog-category-view, .vesblog-post-view{
	.blog-toolbar.toolbar{border: 0;}
	.sidebar-additional{display: none;}
}
/* Blog Categories View */
.vesblog-category-view, .vesblog-search-result, .vesblog-author-view{
	.post-title > h3{
		font-size: 28px; 
		font-weight: 500;
		border-bottom: 1px solid @border-color__base;
		padding-bottom: 20px;
		line-height: 38px;
		margin-bottom: 18px;
		a{color: @black;}
	}
	.post-summary{
		margin-top: 20px;
		line-height: 25px;
		font-size: @font-size-base;
		color: #666;
		.desc{
			position: relative;
			max-height: 78px;
			overflow: hidden;
		}
		> a{
			display: block;
			margin-top: 20px;
			color: @black;
			font-size: @font-size-base;
			font-weight: 500;
			padding: 5px 25px;
			.border-radius(20px);
			.rtl-float-right();
			border: 2px solid @black;
			&:hover{
				background: @theme-color-default;
				border-color: @theme-color-default;
				color: @white;
				text-decoration: none;
			}
		}
	}
	.post-social{
		margin-top: 10px;
		li{.inline-block(); vertical-align: top;}
	}
	.postcategory-view{margin-bottom: 30px;}
	.ves-blog .blog-list .post-item{
		border: 0;
		margin-bottom: 30px;
		padding: 30px;
	}
	.post-date{color: @theme-color-default; font-weight: 500; text-transform: uppercase;}
}

.vesblog-category-view{
	.blogcat-description{margin-top: 20px;}
}

/* Blog Post View */
.vesblog-post-view{
	iframe{max-width: 100%;}
	.page-title-wrapper{
		display: none;
	}
	.post-title{color: #3c3c3c;}
	.post-meta {
	    margin-bottom: 30px;
	}
	.post-social{
		margin-top: 10px;
		li{.inline-block(); vertical-align: top;}
	}
	.posts-related{
		margin-top: 0;
		.post-image {
		    margin-bottom: 10px;
		}
	}
	.post-content{float: none;}
}
.sidebar{
	.ves-block, .blog-searchform{
		.block-title{margin-bottom: 0;}
	}
	.block.ves-widget .block-title, .block .block-title{
		.rtl-text-align-left();
	}
	.tags-link{
		margin-top: 30px;
	}
	.blog-searchform{
		label{
			width: 100%; 
			.screen-reader-text{display: none;}
		}
		input{
			background: #f1f1f1; 
			border: 0; 
			font-weight: normal;
			height: 40px;
		}
		.search-form{
			position: relative;
		}
		.search-submit{
			background: transparent;
			position: absolute;
			.rtl-right(0);
			top: 0;
			.size(40px, 40px);
			border: 0;
			.border-radius(50%);
			&::before{
				content: "\f002";
				font-family: @font-icon-family;
			}
			span{display: none;}
		}
	}
	.product-items .product-item{
		.rtl-float-left();
		width: 100%;
	}
	#block-collapsible-nav{border: 1px solid @border-color__base;}
	.block-compare .action.primary, .block-wishlist .action.primary, .block-reorder .action.primary{
		font-size: @font-size-base - 2;
		letter-spacing: 0;
	}
}
.page-wrapper .blog-cats{
	.block-content{padding: 0;}
	ul li{
		padding: 11px 0;
		border-bottom: 1px solid @border-color__base;
		margin-bottom: 0;
		&:last-child{border-bottom: 0;}
	}
}
.page-wrapper .blog-recentcomments{
	.block-content a{
		font-size: @font-size-base;
		font-weight: 300;
		color: @black;
		text-transform: none;
	}
	.comment-date{margin-top: 10px;}
}
.page-wrapper .swatch-option {
	height: 20px!important;
	min-width: 20px!important;
	border-color: transparent;
	&.text{
		padding: 0 3px;
		line-height: 20px;
		font-weight: 400;
	}
}

.sidebar {
	.block {
		.block-title *{
			font-size: 23px!important;
			font-weight: 500!important;
			margin: 0!important;
			line-height: 35px!important;
		}
		&.filter {
			margin-bottom: 0!important;
			.filter-current {
				.item{padding-left: 0; padding-right: 17px;}
				.action.remove{
					left: auto; right: -2px;
					&::before{font-size: 14px!important;}
				}
			}
			.filter-current + .filter-actions {
				padding-bottom: 10px;
			}
			.filter-subtitle{display: none;}
			.filter-options {
				position: relative;
				top: 0;
				&.active {
					border-top:1px solid @border-color__base;
					border-bottom: 1px solid @border-color__base;
					.transition(opacity 0.35s ease 0s);
					&:first-child {
						border-top:none;
					}
					&:last-child {
						border-bottom:none;
					}
					.filter-options-title:after{
						content: "-";
					}
				}
				.filter-options-title {
					font-weight: 600;
					color: #333;
					cursor: pointer;
					position: relative;
					padding: 0;
					&:after{
						position: absolute;
						font-size: 11px!important;
						.size(20px, 22px);
						right: 0;
						top: 2px;
						font-weight: 300;
						font-size: 20px;
						color: #999;
					}
				}
				.filter-options-item{
					border-color: @border-color__base;
					margin-bottom: 15px;
				}
				.filter-options-item.active{
					.filter-options-title{color: @theme-color-default;}
				}
				.filter-options-content {
					padding: 10px 0;
					.item{margin: 0;}
					li {padding: 7px 0;}
					a{
						color: #666;
						background: none!important;
						margin: 0;
						&:hover{text-decoration: underline;}
					}
					.count, .swatch-option{color: #999;}
					li > a{
						.rtl-padding-left(17px);
						position: relative;
						color: #666;
						.count{
							background: #f1f1f1;
							color: #aaa;
							.border-radius(10px);
							padding: 0 8px;
							.rtl-float-right();
							font-size: @font-size-base - 2;
							&::before, &::after{content: "";}
						}
						&::before{
							content: "\f096";
							font-family: @font-icon-family;
							font-size: @font-size-base + 1;
							color: #ddd;
							position: absolute;
							.rtl-left(0);
							top: 1px;
						}
						&:hover, &:active, &:focus{
							color: #3c3c3c;
							font-weight: 500;
							text-decoration: none;
							&::after{
								content: "\f00c";
								font-family: @font-icon-family;
								position: absolute;
								.rtl-left(1px);
								top: -1px;
							}
						}
					}
				}
				.swatch-option{
					&.text{
						font-weight: 400;
						.rtl-float-left();
					}
				}
			}
		}
	}
	.block-compare, .block-wishlist, .block-reorder{
		.action.primary{padding: 5px 10px;}
		.counter{display: none;}
		.product-item-photo{.rtl-float-left();}
		.product-item-actions{clear: none!important;}
		.product-item-name{.rtl-padding-right(20px);}
	}
	.block-compare{
		.empty{
			padding: 15px 0;
		}
	}
	.block-reorder{
		.product-item .field.item{display: block;}
		.product-items .product-item-name{
			padding-left: 20px; padding-right: 0; line-height: 24px;
			.rtl &{padding-right: 20px; padding-left: 0;}
		}
		.control{position: absolute; .rtl-left(0);}
		.actions-toolbar{
			margin: 15px 0;
			.rtl-float-left();
			width: 100%;
		}
	}
	.product-items{
		.product-item-name{margin-right: 0;}
		.product-item-details{.rtl-margin-left(85px);}
	}
	.productlist-widget .tab-content{margin-top: 20px;}
	.action.delete{.rtl-right(0);}
}
.block.filter {
	.block-title strong{display: block;}
    .filter-content, .filter-options{padding: 0;}
}

.widget-images{
	margin-bottom: 30px;
	padding: 0;
	.block-content{padding: 0;}
	.image-item{
		.img-animation {
			overflow: hidden;
			position: relative;
			.rtl-float-left();
			&:before {
				position: absolute;
				top: 0;
				left: -100%;
				z-index: 2;
				display: block;
				content: ''; 
				width: 50%;
				height: 100%;
				background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
				background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
				-webkit-transform: skewX(-25deg);
				transform: skewX(-25deg);
			}
			/* style for hover */
			&:hover{
				&:before {	
					-webkit-animation: shine 1.1s;
					animation: shine 1.1s;
				}
			}
		}
	}
	.image-description{
		line-height: 30px;
		h4{
			color: @black;
			font-weight: 500;
			margin: 28px 0 12px;
		}
		.social{
			margin-top: 8px;
			li{
				.inline-block();
				a{
					padding: 0 12px; color: #999;
					&:hover{color: @theme-color-default;}
				}
			}
		}
	}
	&.no-effect{
		.image-item .img-animation{
			float: none!important;
			img{width: auto;}
			&::before{display: none;} 
		}
	}
}

.columns .widget-contenthtml{
	border-radius: 0;
	padding: 0;
	.block-content{padding: 0;}
}

.widget-html{
	&.html-v1{
		line-height: 30px;
		font-size: @font-size-base + 1;
		.item{
			margin-bottom: 22px;
			.fa{color: @theme-color-default;}
			&:last-child{margin-bottom: 0;}
		}
		.pull-left > span {
		    padding: 0 20px;
		    color: @black;
		    font-size: 18px;
		    font-weight: 500;
		}
		.content{.rtl-padding-left(90px);}
	}
	&.html-v2{
		.content{.rtl-padding-left(60px);}
		.item{.rtl-float-left(); width: 100%;}
		.pull-left{
			font-size: 32px;
		}
	}
}

.block.tags, .ves-block .tagcloud, .tags-link{
	.rtl-text-align-left();
	 li{
	 	.inline-block();
	 	margin-bottom: 5px; 
	 	margin-left: 0;
	 	a{
		    .inline-block();
		    padding: 1px 10px;
		    border: 1px solid @border-color__base;
		    border-radius: 20px;
		    color: #666;
		    font-size: @font-size-base - 1!important;
		    .transition(all 0.3s ease 0s);
		    &:hover{
		    	text-decoration: none;
		    	background: @theme-color-default;
		    	color: @white!important;
		    	border-color: transparent;
		    	.transition(all 0.3s ease 0s);
		    }
		}
	}
}
.tags-link{
	margin-bottom: 0!important;
}
.widget .tags-link{
	ul{
		margin: 0 -3px;
		li{margin: 0 3px 5px;}
	}
}

.block.tmls-widget{
	margin: 0!important;
	overflow: visible;
	&::before{
		content: "\f10d";
		color: @theme-color-default;
		font-size: 33px;
		font-family: @font-icon-family;
		position: absolute;
		.rtl-left(-8px);
		top: 100px; 
	}
	.block-title h2::after{display: none!important;}
	.block-title.content-heading{margin-bottom: 15px;}
	.tmls-item{
		border: 0!important;
		padding: 0!important;
		.rtl-text-align-left();
		> div{margin: 0;}
	}
	.tmls-item-info{
		padding: 4px 20px 0;
		.tmls-image img{.border-radius(50%);}
		.tmls-name{
			font-size: @font-size-base;
			font-weight: 500;
			color: @black;
			margin: 0;
		}
		.tmls-testimonial{
			max-height: 248px;
			overflow: hidden;
			line-height: 30px;
			margin-bottom: 16px;
			font-size: @font-size-base + 3;
			p{
				font-size: @font-size-base + 3; 
				margin: 0;
			}
		}
		.tmls-title{
			font-size: @font-size-base;
			color: #3d3d3d;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		.tmls-company_website{text-transform: uppercase; color: @black;}
	}
	.tab-content.testimonial-owlcarousel-play{margin-bottom: 0;}
	.tab-content{
		margin-top: 0;
	}
	.owl-carousel{
		position: static;
	}
}

.block.brand-widget{
	box-shadow: none;
	background: none;
	padding: 0;
	margin: 0;
	.owl-carousel{
		.owl-stage-outer{margin: 0;}
		.owl-nav{
			position: absolute;
			top: 50%;
			width: 100%;
		}
		.brand-item{height: auto!important;}
	}
	.brand-image{
		img{
			.opacity(0.8);
		  .transition(all 0.4s ease 0s);
	    }
	    &:hover{
	        img{
	        	.opacity(1);
			  .transition(all 0.4s ease 0s);
	        }
	    }
	}
}
.brand-view{
	.brand-image img{.opacity(0.9);}
}
.brand-group{margin-bottom: 0!important;}
.vesbrand-group-view{
	.brandlist{
		.wrap-content();
		.brand-name{display: none;}
	}
}

.widget-accordion{
	.block-content{padding: 0;}
	.panel-group{margin-bottom: 0;}
	p{margin-bottom: 0;}
	.panel-default{
		border-bottom: 1px solid @border-color__base;
		border-radius: 0;
		&:last-child{border-bottom: 0;}
		> .panel-heading{
			background: none;
			.panel-title a{
				color: @black;
				font-size: 18px;
				font-weight: 500;
				position: relative;
				.rtl-padding-left(25px);
				&::before{
					content: "-";
					color: @theme-color-default;
					.rtl-left(0);
					position: absolute;
					top: 6px;
				}
				&.collapsed:before{content: "+";}
			}
		}
		> .panel-heading + .panel-collapse > .panel-body{border: 0;}
	}
	.panel-group .panel + .panel{margin-top: 0;}
	.panel-heading{padding: 18px 5px;}
	.panel-body{
		padding: 0;
		padding-bottom: 20px;
		line-height: 25px;
		.rtl-padding-left(30px);
	}
}

.product-block {
	.rtl-float-left();
	width: 100%;
	.product-image {
		position: relative;
		.inline-block();
		max-width: 100%;
		margin-bottom: 10px;
		.product-img{position: relative;}
		.hover-image {
			.opacity(0);
			.transition(all 0.4s ease-in-out);
			visibility: hidden;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}
		.product-item-actions {
			position: absolute;
 			bottom: 14px;
 			left: 0;
 			right:0;
 			z-index: 11;
 			margin: 0 auto;
			text-align: center;
			display: block;
			.actions-secondary {
				background: @white;
				.border-radius(20px);
				overflow: hidden;
				.inline-block();
				.box-shadow(0 2px 12px rgba(0, 0, 0, 0.1));
				> a{
					background: @white;
					color: #bbb;
					.inline-block();
					.size(32px, 32px);
					text-align: center; 
					line-height: 32px;
					.rtl-border-right(@border-color__base);
					.rtl-margin-left(-3px);
					&:hover, &:focus {
						background: @theme-color-default;
						color: @white!important;
					}
					&:first-child{margin: 0!important;}
				}
				> a:first-child, > a:last-child{width: 40px;}
				> a:last-child{border: 0!important;}
			}
		}
	}
	.actions-primary {
		.rtl-float-right();
		.add-to-cart{
			background: #f6f6f6;
			color: #999;
			border: 0;
			border-radius: 20px;
			padding: 0;
			font-size: @font-size-base + 1;
			height: 32px;
			min-width: 45px;
			.transition(all 0.2s ease-in-out);
			&:hover, &:focus {
				background: @black!important;
				color: @white;
			}
		}
	}
	.product-item-details {
		.price-box {
 			position: relative;
 			font-family: @font-body-family;
 			margin: 0;
 			.rtl-float-left();
 			span {
 				display: inline-block;
 				vertical-align: top;
 			}
 			.price-label {display: none;}
 			.price {
 				color: @theme-color-default;
 				font-size: 20px;
 				font-weight: 300;
 			}
 			.old-price .price {
 				color: #bbb;
 				font-size: @font-size-base + 1;
 				text-decoration: line-through;
 				.rtl-margin-left(6px);
 				line-height: 28px;
 			}
 		}
	}

	.product-item-info {
		background: @white;
		position: relative; 
		margin-top: 30px;
		.product-item-name {
			margin: 0 0 12px;
 			font-size: @font-size-base;
 			line-height: 20px;
 			min-height: 44px;
 			a{
 				color: @theme-color-primary;
 				font-weight: 500;
 				.transition(all 0.2s ease-out 0s);
 				&:hover{text-decoration: none; color: @black;}
 			}
		}
		.product-item-description{margin: 20px 0 10px;}
		&:hover, &:focus {
	 		.hover-image {
		        visibility: visible;
		        .opacity(1);
		        .transition(all 0.4s ease-out 0s);
		    }
		    .actions-primary .add-to-cart{background: @theme-color-default; color: @white;}
	 	}
	}
	div[class^="swatch-opt-"]{
		position: absolute;
		text-align: center;
		left: 0;
		right: 0;
		margin: auto;
		top: 10px;
		z-index: 12;
	}
	.product-reviews-summary{margin-bottom: 5px;}
	.description, .reviews-actions{display: none;}
	.swatch-option{
		float: none;
		margin: 0 5px 3px 0;
		.inline-block();
	}
	.swatch-attribute-options{margin-top: 0;}
}

.rating-summary{
	.rating-result{
		width: 60px;
		&:before{font-size: 11px; color: #ddd;}
		> span::before{font-size: 11px; color: #fbbd44;}
	}
}
.review-control-vote{
	label::before{color: @theme-color-primary;}
}

.product-block, .product.media{
	.icon {
		position: absolute;
		top: 10px;
		z-index: 12;
		> span > span {
			background: #f05253;
			color: @white;
			font-size: @font-size-base - 3;
			font-weight: 400;
			padding: 2px 10px;
			font-family: @font-headding-family;
			text-transform: uppercase;
			.inline-block();
			vertical-align: middle;
			line-height: 16px;
			position: relative;
			.border-radius(10px);
		}
		.new-icon{
			margin-left: 2px;
			span{
				background: #4db9f7;
			}
		}
	}
}
.product-block .icon{.rtl-left(10px);}
.product.media{
	position: relative;
	margin-top: 0;
	.fotorama__stage__frame .fotorama__img{
		vertical-align: top;
		position: static;
		transform: none;
	}
	.fotorama__thumb-border{border-color: @theme-color-default;}
	.icon {
		right: 10px;
	}
	.fotorama__arr, .fotorama__thumb__arr{background: none;}
}

.productlist-widget{
	.block-title{margin-bottom: 0;}
	.block-content{padding: 0; overflow: hidden;}
	.owl-stage-outer{margin: 0;}
	.owl-carousel{
		position: static;
		margin-left: -30px!important;
		margin-right: -30px!important;
		.owl-item{
			padding-left: 30px!important;
			padding-right: 30px!important;
			.rtl-border-right(@border-color__base);
		}
	}
	.tab-content{
		margin-top: 30px;
		> div:not(:first-child){
			.product-block .product-item-info .product-image .product-item-actions .actions-secondary > a{
				margin-left: -3px;
			}
		}

	}
	.product-item-info .icon > span{margin: 0 2px;}
	.productlist-wait{
		height: 300px;
		background: url('../images/loading.gif') center no-repeat;
	}
	.product-thumb{
		position: relative;
		.view_scroll_left, .view_scroll_right{
			background: rgba(255, 255, 255, 0.5);
		    left: 0;
		    margin: auto;
		    position: absolute;
		    right: 0;
		    text-align: center;
		    width: 30px;
		    height: 20px;
		    line-height: 20px;
		    z-index: 1;
		    visibility: hidden;
		    .opacity(0);
		    .transition(all 0.3s ease-out 0s);
		}
		.view_scroll_left{top: 10px;}
		.view_scroll_right{bottom: 10px;}
		li.active{
			img{border: 2px solid @theme-color-default;}
		}
	}
	&:hover{
		.product-thumb{
			.view_scroll_left, .view_scroll_right{
				.opacity(1);
				visibility: visible;
				.transition(all 0.3s ease-out 0s);
			}
			.view_scroll_left{top: 0;}
			.view_scroll_right{bottom: 0;}
		}
	}
	&.hidden-tab .etabs{display: none;}
	&.product-deals-v2{
		.countdown-timmer .item-countdown ul > li{
			min-width: 42px;
			.countdown_num{font-size: 20px;}
		}
	}
	&.p-padding-right{.rtl-padding-right(30px);}
	&.p-padding-left{.rtl-padding-left(30px);}
	&.products-v2{.rtl-padding-left(30px); .rtl-border-left(@border-color__base);}
	&.products-v3{
		.block-title{margin-bottom: 0;}
		ul.etabs{
			position: absolute;
			width: 100%;
			.rtl-right(15px);
			top: 30px;
			.rtl-text-align-right();
			li{
				a{
					padding: 2px 12px;
					border-radius: 20px;
					border: 2px solid transparent;
					font-size: @font-size-base - 1;
					font-weight: 400;
					text-transform: uppercase;
					&.active, &:hover{
						border: 2px solid @theme-color-default;
					}
				}
			}
		}
	}
	&.products-v4{
		.product-block{
			.product-item-info .product-item-name a{
				font-size: @font-size-base + 5;
				line-height: 25px;
			}
			.product-item-details .price-box{
				.price{font-size: 28px;}
				.old-price .price{
					font-size: @font-size-base + 3;
					line-height: 45px;
				}
			} 
		}
	}
	&.products-v5{
		.product-block{
			.product-image{
				.product-thumb{.rtl-float-right(); width: 18%;}
				.product-img{
					.inline-block();
					.rtl-float-left();
					width: 79%;
				}
			}
			.actions-primary .add-to-cart{margin-top: 20px;}
		}
		.owl-carousel .owl-nav{
			top: 32px;
			[class*="owl-"]{
				position: relative!important;
				font-size: @font-size-base - 1!important;
				font-weight: 400!important;
				text-transform: uppercase!important;
				.fa{
					position: absolute;
					top: -2px;
					font-size: 22px;
				}
			}
			.owl-next{
				padding-right: 14px!important;
				.fa{right: 0;}
			}
			.owl-prev{
				margin-right: 15px!important;
				padding-right: 15px!important;
				padding-left: 15px!important;
				float: left;
				.fa{left: 0;}
				&::after{
					content: "";
					background: @theme-color-default;
					position: absolute;
					right: 0;
					top: 3px;
					.size(2px, 13px);
				}
			}
		}
	}
	&.products-v6{
		.owl-carousel{
			.opacity(1);
			.owl-stage-outer{overflow: visible;}
		}
		.product-block .product-item-info:first-child:before{
			background: @border-color__base;
		    content: "";
		    height: 1px;
		    position: absolute;
		    top: -20px;
		    width: 100%;
		}
	}
	&.products-v7{
		ul.etabs{
			margin-bottom: 0;
			li.abs{
				margin: 0!important;
				color: @white;
				width: 16.666%;
				min-height: 165px;
				.inline-block();
				vertical-align: top;
				font-size: 35px;
				text-align: center!important;
				padding: 42px 3% 0;
				position: relative;
				a{
					color: @white!important;
					font-family: @font-body-family;
					font-size: @font-size-base + 3;
					font-weight: 600;
					float: left;
					width: 100%;
					min-height: 42px;
					padding-top: 20px;
				}
				&.active{
					&::after{
						content: "";
						border-bottom: 12px solid @white;
					    border-left: 12px solid transparent;
					    border-right: 12px solid transparent;
					    bottom: 0;
					    left: 0;
					    margin: auto;
					    position: absolute;
					    right: 0;
					    width: 10px;
					}
				}
				&.abs1{background: #163a9b;}
				&.abs2{background: #f43a01;}
				&.abs3{background: #dd14a0;}
				&.abs4{background: #f9b401;}
				&.abs5{background: #fce43a;}
				&.abs6{background: #38745b;}
			}
		}
		.tab-content{padding: 30px; margin-top: 0;}
		.ves-products-grid.fa{
			font-family: @font-body-family;
			display: block;
			&::before{content: "";}
		}
		.special-price{line-height: 30px;}
	}
	&:not(.products-v3)&:not(.products-v7){
		ul.etabs{
			border-bottom: 1px solid @border-color__base;
			padding-bottom: 15px;
			margin-top: -4px;
			margin-bottom: 0;
			.tab{
				.rtl-margin-right(4%);
			}
			li {
				margin: 0;
				&:first-child{
					.rtl-text-align-left();
					position: relative;
					.rtl-padding-left(20px);
					&::before{
						content: "";
						background: url("../images/title-bg.png") no-repeat;
						.size(13px, 13px);
						position: absolute;
						.rtl-left(0);
						top: 12px;
					}
				}
				a{
					font-size: 23px;
					font-weight: 500;
					letter-spacing: -1px;
				}
			}
		}
	}

	ul.etabs{
		.tab{
			background: transparent;
			.rtl-text-align-left();
			.inline-block();
		}
		li {
			a {
				color: #a8a8a8;
				position: relative;
				&:hover, &.active {
					color: @black;
				}
			}
		}
	}
	.product-block .product-item-details .product-item-name a{font-weight: 600; font-size: @font-size-base - 1; letter-spacing: 1px;}
	.product-block .product-item-info{
		margin-top: 0;
		.product-image .product-item-actions .actions-secondary > a{margin: 0;}
	}
}

.ves-grid {
	.ves-grid-item {
		margin-bottom:30px;
	}
}

.products-grid.grid{
	overflow: hidden;
	.product-item{
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
        .rtl-border-right(@border-color__base);
    }
    .product-items{
        margin-left: -30px; 
        margin-right: -30px;
        margin-bottom: -1px;
    }
	.product-block{
		position: relative;
		&::after{
			content: "";
			background: @border-color__base;
			width: 100%;
			height: 1px;
			position: absolute;
			.rtl-left(0);
			bottom: -30px;
		}
		.product-image .product-img::before{height: 98%;}
		.product-item-info{
			margin-top: 0;
			width: 100%;
		}
	}
}

.list.products-list {
	.ves-grid-item {
		width: 100% !important;
		.product-item-details {
			.opacity(1);
			visibility: visible;
		}
	}
	.product-items{
		padding-top: 20px;
		.product-item{
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
				.product-block{border: 0;}
			}
		}
	}
	.product-block{
		border-bottom: 1px solid @border-color__base;
		padding-bottom: 10px;
		.product-image{
			vertical-align: top;
			.product-item-actions{
				width: 100%;
			}
			.product-img::before{height: 98%;}
		}
		.product-item-details{
			.rtl-padding-left(30px);
		}
		.product-item-info{
			.rtl-text-align-left();
			.product-item-name{min-height: 30px;}
		}
		.product-item-photo{padding: 0;}
		.description{display: block;}
		.product-reviews-summary{margin-bottom: 5px;}
	}
	a.more{
		color: @black;
		.rtl-float-left();
		width: 100%;
		margin-top: 10px;
		margin-bottom: 20px;
		&:hover{color: @theme-color-default;}
	}
}

.review-form .action.submit.primary{
	background: @theme-color-default;
	border-color: @theme-color-default;
	line-height: normal;
	padding: 10px 20px;
	span{color: @white!important;}
	&:hover{
		background: @theme-color-primary;
		border-color: @theme-color-primary;
	}
}

.productlist-index-quickview{
	.product-info-main{
		.page-title{padding-top: 25px!important;}
	}
}

.fancybox-skin{
	.action_button{
		ul{
			margin-bottom: 0;
			margin-top: 15px;
			padding-left: 0;
			li{.inline-block();}
		}
		.button{
		    padding: 0 18px;
		    line-height: 35px;
		    background: #2f2f2f;
		    color: @white;
		    .inline-block();
		    vertical-align: top;
		    border: 0;
		    border-radius: 3px;
		    &:hover{
		    	background: @theme-color-default;
		    	text-decoration: none;
		    }
		}
	}
}

.owl-carousel{
    width: auto !important;
    margin-left: -(@grid-gutter-width/2)!important;
    margin-right: -(@grid-gutter-width/2)!important;
    .owl-item{
        padding-left: @grid-gutter-width/2!important;
        padding-right: @grid-gutter-width/2!important;
        float:left;
        .translate3d(0px, 0px, 0px);
    }
    .owl-wrapper {
        .translate3d(0px, 0px, 0px);
        float:left;
    }
    .owl-stage{float: left;}
    .owl-nav.disabled{display: none;}
}

.owl-stage-outer {margin-bottom: 20px;}

.page-wrapper .columns .owl-carousel .owl-nav [class*=owl-]{
	.inline-block();
	padding: 0;
	color: #a8a8a8; 
	font-size: 24px;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	background: transparent;
	cursor: pointer;
	border-radius: 0;
	position: absolute;
	&:hover, &:focus {
		color: @black;
		.opacity(1);
	}
} 

.owl-nav .owl-prev {left: 0;}
.owl-nav .owl-next{right: 0;}
.owl-nav [class*=owl-]:hover{
	border-color:#333;
	text-decoration:none;
}

.countdown-timmer{
	float: left; 
	width: 100%;
	padding: 20px 0 0;
	border-top: 1px solid @border-color__base;
	margin-top: 20px;
	.item-detail {
	    font-size: @font-size-base - 1;
	    font-weight: 400;
	    text-transform: uppercase;
	    margin-bottom: 10px;
	}
	.item-countdown{
		ul{
			margin: 0;
	 		> li{
				border: 0;
		 		width: auto;
		 		min-width: 50px;
		 		.rtl-padding-right(10px);
		 		margin-right: 10px;
		 		.inline-block();
		 		height: auto;
		 		line-height: 17px;
		 		text-align: center;
		 		margin-bottom: 5px;
		 		&:first-child{border-left: 0;}
		 		&:last-child{border: 0; margin-right: 0;}
		 		.countdown_num{
		 			position: relative;
		 			&::after{
			 			content: ":";
			 			position: absolute;
			 			.rtl-right(-16px);
			 			bottom: 0;
			 		}
		 		}
		 		&:last-child{
		 			.countdown_num:after{content: "";}
		 		}
		 	}
		 	div{
		 		color: #aaa;
		 		font-size: @font-size-base - 1;
		 	}
	 	}
		li{
		    .countdown_num{
		 		.inline-block();
		 		color: @black;
		 		font-size: 22px;
		 		font-weight: 500;
		 		line-height: 28px;
		 	}
		}
	}
}

.block.upsell{margin-bottom: 0!important;}
.block.related, .block.upsell, .block.crosssell{
	.rtl-float-left();
	width: 100%;
	padding-top: 30px;
	.block-title{
		margin-top: 0;
		margin-bottom: 30px;
	}
	.block-content{padding: 0; overflow: hidden;}
	.product-block{
		.product-item-info{margin-top: 0;}
		.product-item-inner{display: none;}
	}
	.product-item{padding: 0!important;}
	.products{margin: 0;}
	.countdown-timmer{display: none;}
	.owl-carousel{
		position: static;
		margin-left: -30px!important;
		margin-right: -30px!important;
		.owl-item{
			padding-left: 30px!important;
			padding-right: 30px!important;
			.rtl-border-right(@border-color__base);
		}
	}
}
.block.related{
	position: relative;
	.icon{top: 25px;}
	.block-actions{
		position: absolute;
	    .rtl-right(30px); 
	    top: 35px;
	    .action.select{
	    	margin: 0 0 0 5px;
	    	padding: 2px 10px;
	    }
	}
	.choice.related{
		position: absolute;
		top: 8px;
		left: 10px;
		z-index: 10;
		label{display: none;} 
	}
}
.block.crosssell{
	width: 100%!important;
	padding: 0!important;
}
.product.info.detailed{
	font-size: @font-size-base + 1;
	.product.data.items > .item.title{
		> .switch{
			font-size: 18px;
			font-weight: 500;
			text-transform: none;
			height: 50px;
			line-height: 50px;
			border-radius: 3px 3px 0 0;
		}
	}
	.product.data.items > .item.content{
		background: none;
		padding: 30px 0 0;
		border-top: 1px solid @border-color__base;
	}
}

#product-review-container{
	.pages a.page{border: 0;}
}
@media (min-width: 992px) {
	.block.review-add{
		.review-form{max-width: 100%;}
		.fieldset > .field{.rtl-float-left(); width: 50%; padding: 0 10px;}
		.review-form-actions{.rtl-float-right(); margin: 0;}
	}
}

.block.newsletter{
	font-size: @font-size-base + 1;
	line-height: 24px;
	.actions{
		margin: 0;
	    position: absolute;
	    .rtl-right(0);
	    top: 0;
	    width: auto;
	}
	.action.subscribe{
		padding: 0;
		background: @theme-color-default;
		border: 0;
		border-radius: 0 30px 30px 0;
		position: relative;
		.size(50px, 44px);
		&::before{
			content: "\f178";
			font-family: @font-icon-family;
			color: @white;
		}
		span{display: none;}
	}
	.field .control{
		margin-top: 30px;
		margin-bottom: 20px;
		position: relative;
		padding: 0;
		input{
			height: 44px;
			border: 2px solid @theme-color-default;
			padding: 0 20px;
			border-radius: 30px;
		}
		&::before{display: none;}
	}
}
.newletter-v1{
	background: @theme-color-default;
	color: @black;
	font-size: @font-size-base + 1;
	padding: 27px 0;
	.block.newsletter{
		.block-title, .label{display: none;}
		.action.subscribe{background: #262626;}
		.field .control input{border: 0;}
	}
	.f-left{.inline-block();}
	p{margin: 0;}
	h3{
		margin-top: 0;
		margin-bottom: 0;
		font-size: 23px;
		.rtl-margin-right(30px); 
		color: @white; 
		font-weight: 500;
		line-height: 36px;
	}
}

.block-aboutus{
	.block-content{
		color: #999;
		font-size: 14px;
		font-family: 'Lato', sans-serif;
	}
}

#login-form, .form-create-account{
	.actions-toolbar{margin-left: 0!important;}
}
.login-container{
	.block .block-title{padding-bottom: 0;}
	.fieldset::after{margin-left: 0!important;}
}

/* social internal module */
ul.list-social {
	margin: 0;
 	li {
 		.inline-block();
 		margin: 0;
 		a {
 			background: #eee;
 			font-size: 15px;
    		color: #a8a8a8;
			.border-radius(50%);
			.size(32px, 32px);
			line-height: 32px;
			text-align: center;
			.rtl-float-left();
			.rtl-margin-right(2px);
			&:hover{background: @theme-color-default; color: @white;}
 		}
 	}
}

.logo-footer {
	text-align: center;
	img {
		padding-bottom:20px;
	}
	button {
		background: #80b2a7;
		border-radius:0;
		border:0;
		color: #fff;
		font-weight: 400;
		&:hover, &:focus {
			background: #fff;
			color: #333;
		}
	}
}

.action.primary{
	background: @theme-color-default;
	color: @white;
	border-color: @theme-color-default;
	padding: 10px 20px;
	letter-spacing: 1px;
	font-family: @font-body-family;
	font-weight: 500;
	font-size: @font-size-base;
	text-transform: uppercase;
	border-radius: 20px!important;
	&:hover, &:active, &:focus{background: @theme-color-primary; border-color: @theme-color-primary;}
}

.abs-actions-addto-gridlist::before, .table-comparison .wishlist.split.button > .action.split::before, 
.product-items .wishlist.split.button > .action.split::before, 
.products.list.items .action.towishlist::before, 
.table-comparison .action.towishlist::before, 
.product-item-actions .actions-secondary > .action::before{
	font-size: 16px;
}

.modal-inner-wrap{
	.modal-header, .modal-content, .modal-footer{
		border: 0;
		box-shadow: none;
	}
}

.wishlist-index-index .products-grid{
	.product-item{
		padding-left: 15px!important;
		margin-bottom: 20px!important;
		.control{.inline-block();}
		.field.qty{.rtl-float-left();}
		.product-item-actions{
			button{padding: 5px 10px;}
		}
	}
	.product-items{margin-left: -15px!important;}
}

#ves-paneltool{
	.panel-apply{
		.btn {
		    display: inline-block;
		    line-height: 30px;
		    padding: 0 15px !important;
		    vertical-align: top;
		    text-decoration: none;
		    font-size: 14px!important;
		    span{font-size: 14px!important;}
		    &.btn-apply{background: #669900;}
		}
	}
}

.cms-page-error {
    color: @black;
    position: relative;
    font-size: @font-size-base + 5;
    line-height: 25px;
    text-align: center;
    font-weight: 300;
    h1{
    	color: @theme-color-primary;
    	font-size: 200px;
    	font-weight: 500;
    	margin: 0;
    }
    h3 {
        font-size: 40px;
        color: @black;
        font-weight: 500;
        .inline-block();
        margin-bottom: 45px;
        letter-spacing: -2px;
        margin-top: -10px;
    }
    a {
        color: @theme-color-default;
        &:hover{color: @theme-color-primary;}
    }
}
