<!-- 
/**
 * @category   Webkul
 * @package    Webkul_SocialSignup
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */  -->
<?php
    $helper = $this->helper('Webkul\SocialSignup\Helper\Data');
?>
<div class="wk_socialsignup_container">
    <?php
    if($helper->getFbStatus() == 1 || $helper->getTwitterStatus() == 1 ||
        $helper->getGoogleStatus() == 1 || $helper->getLinkedInStatus() == 1 ||
         $helper->getInstaStatus() == 1){ ?>
    <div class="wk_social_choice">
        <h3>
            <?php echo  __("OR") ?>
        </h3>
    </div> 
    <?php }
    ?>

     <!-- Social Login Links -->
            <div id="fb-root"></div><div class="fixblocksocial">
                <?php if(!$helper->customerSession()):?>
                <!-- Facebook login -->
                <?php if((int)$helper->getFbStatus() == 1) { ?>
                <div  id="fblogin" class="wksocialsignup fb_button_ps"><img src="<?php echo $helper->getLoginImg()?>" alt="<?php echo __('Facebook')?>" title="<?php echo __('Connect with Facebook')?>"/></div>
                <?php } ?>
                <!-- End Facebook login -->

                <!-- twitter login -->
                <?php if((int)$helper->getTwitterStatus() == 1) { ?>
                <div  id="twitterlogin" class="wksocialsignup"><img src="<?php echo $helper->getTwitterLoginImg()?>" alt="<?php echo __('Twitter')?>" title="<?php echo __('Connect with Twitter')?>" /></div>
                <?php } ?>
                <!-- ENd twitter login -->
                <!-- google login -->
                <?php if((int)$helper->getGoogleStatus() == 1) { ?>
                <div  id="googlelogin" class="wksocialsignup"><img src="<?php echo $helper->getGoogleLoginImg()?>" alt="<?php echo __('Google')?>" title="<?php echo __('Connect with Google')?>" /></div>
                <?php } ?>
                <!-- ENd google login -->

                <!-- Linkedin login -->
                <?php if((int)$helper->getLinkedInStatus() == 1) { ?>
                <div  id="linkedinlogin" class="wksocialsignup"><img src="<?php echo $helper->getLinkedinLoginImg()?>" alt="<?php echo __('Linkedin')?>" title="<?php echo __('Connect with Linkedin')?>" /></div>
                <?php } ?>
                <!-- ENd Linkedin login -->
                <!-- Instagram login -->
                    <?php if((int)$helper->getInstaStatus() == 1) { ?>
                        <div  id="instagramlogin" class="wksocialsignup"><img src="<?php echo $helper->getInstaLoginImg()?>" alt="<?php echo __('Instagram')?>" title="<?php echo __('Connect with Instagram')?>" /></div>
                <?php } ?>
                <!-- End Instagram login -->
              

                <?php endif?>
            </div>
        <!-- End Social Login Links -->
</div>
<?php
$data = [
    "fbAppId"=>$block->getAppId(),
    "uId"=>$block->checkFbUser(),
    "customerSession" => $block->customerSession(),
    "localeCode" => $block->getLocaleCode(),
    "fbLoginUrl" => $block->getUrl('socialsignup/facebook/login')
];
$popupData = [
    "width"=>'700',
    "height" => '300',
    "twitterUrl" => $block->getRequestUrl('socialsignup/twitter/request',array('mainw_protocol'=>'http')),
    "linkedinUrl" => $block->getRequestUrl('socialsignup/linkedin/request',array('mainw_protocol'=>'http')),
    "googleUrl" => $block->getRequestUrl('socialsignup/google/request',array('mainw_protocol'=>'http')),
    "instagramUrl" => $block->getRequestUrl('socialsignup/instagram/request',array('mainw_protocol'=>'http'))
];
$serializedData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($data);
$serializedPopupData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($popupData);
?>

<script type="text/x-magento-init">
    {
        "*":{
            "fbBlockPlugin":<?php echo $serializedData ?>,
            "popupPlugin":<?php echo $serializedPopupData ?>
        }
    }
</script>