<?php
/*
* Ves Magento Theme Framework for Prestashop 1.6.x
*
* @package   vesblockbuilder
* @version   5.0
* @author    http://www.venustheme.com
* @copyright Copyright (C) October 2013 venustheme.com <@emai:venustheme@gmail.com>
*               <info@venustheme.com>.All rights reserved.
* @license   GNU General Public License version 2
*/


$widget_heading = $this->getConfig('title');    
$addition_cls = $this->getConfig('addition_cls');
$stylecls =  $this->getConfig('stylecls');
$content = $this->getConfig('html');

$content = str_replace(" ", "+", $content);
$content = base64_decode($content);
$content = $this->getDataFilterHelper()->filter($content);
$enable_collapse = $this->getConfig("enable_collapse", 0);
$id = rand().time();
if ($content):
?>
<div class="ves-widget panel-group widget-html block <?php echo $addition_cls; ?> <?php if (isset($stylecls)&&$stylecls) echo 'block-'.$stylecls;?>" id="accordion-html-<?php echo $id ?>">
	<div class="panel panel-default">
        
    	<?php if (isset($widget_heading)&&!empty($widget_heading)): ?>
        <div class="panel-heading block-title">
            <strong>
                <span>
                    <?php echo $widget_heading; ?>
                    <a data-toggle="collapse" data-parent="#accordion-html-<?php echo $id ?>" href="#collapseHtml<?php echo $id ?>" class="panel-title hidden-lg hidden-md">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </span>
            </strong>
        </div>
        <?php endif; ?>
        
        <div id="collapseHtml<?php echo $id ?>" class="widget-inner block-content panel-collapse collapse">
            <div class="panel-body">
            	<?php echo $content; ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
require(['jquery'],function($){
    $(document).ready(function(){
    require([
        'jquery'
        <?php if($this->helper("Ves\All\Helper\Data")->getConfig("enable_bootstrap_js")): ?>
        ,"Ves_All/lib/bootstrap/js/bootstrap.min"
        <?php endif; ?>
        ],function($){
            
        });
    });
});
</script>
<?php endif; ?>
